<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/main.css" />
</head>
  <body>
    <div class="About Me">

        <article id="main" class="container special">
            <a href="#" class="image featured"></a>
            <header>
                <h2><a href="#">About Me</a></h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ultricies mi eget mauris pharetra.
                </p>
            </header>
            <p>
                Adipiscing elit ut aliquam purus. Id donec ultrices tincidunt arcu non. Magna fringilla urna porttitor rhoncus dolor purus non enim 
                praesent. Amet justo donec enim diam vulputate ut. Sed vulputate mi sit amet mauris commodo quis imperdiet massa. Risus nec feugiat 
                in fermentum posuere. A diam maecenas sed enim ut sem viverra aliquet eget. Auctor elit sed vulputate mi sit amet mauris commodo quis. 
                Aliquet risus feugiat in ante. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Massa massa ultricies mi quis 
                hendrerit dolor magna eget est. Ultrices neque ornare aenean euismod elementum nisi quis eleifend quam.
            </p>
            <footer>
                <a href="#" class="button">Continue Reading</a>
            </footer>
        </article>

    </div>
  </body>
</html>